!!! 5
%html
  %head
    %title Super Sekrit
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen")
    %link(href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet")
    %link(href="index.css" rel="stylesheet")
  %body

    .navbar
      .navbar-inner
        %a.brand(href="#") Super Sekret

    #no-circkle.container(style="display:none")
      .row

        %form.span6
          %fieldset
            %legend Create new Cirkle ...
            %input#friendly(type="text" placeholder="Enter name (optional) ...")
            %button#create.btn.btn-large.btn-block.btn-primary(type="submit") Create

        .span6
          .hero-unit
            :markdown

              Take back control of your privacy
              ---------------------------------

              Control who sees your messages.

              Send e-mails via Gmail that Google cannot use to target
              ads at you.

              Send messages to select friends on Facebook, knowing no
              one else can read them. Don't rely on Facebook's privacy
              settings.


          :markdown

            You can use this site to create a _sekrit cirkle_, a
            private page known only to you and your friends.

            You can use the cirkle to write and read _sekrits_,
            messages that can be freely shared on Facebook or anywhere
            else without anyone being able to read them unless they
            have access to the cirkle.

            If you want to *send* a sekrit:

            1. Create a cirkle, or go to a cirkle you bookmarked
            previously.
            1. Make sure your recipients also have bookmarked the same
            cirkle page.
            2. Type in some text, and you will see a sekrit being generated
            3. Copy the generated sekrit from the page and paste it
            a message to send to someone via e-mail, Facebook or any
            other medium.

            If you want to *read* a sekrit:

            1. Go to the cirkle that this sekrit is part of.  (If you
            have not previously been given access to the cirkle then
            you will not be able to read the sekrit.)
            1. Click "Read a Sekrit"
            1. Copy the sekrit from the message you received and paste
            it into text box on the cirkle page.
            1. You should now see your message displayed.


    #bad-circkle.container(style="display:none")
      .row
        .alert.alert-block.alert-error.fade.in.span12
          %h2.span12 Bad Circle
          %p.span12
            Sorry
            %q.cirkle-name
            is not a valid cirkle. Did you copy it properly?
          %p
            %a.btn.btn-danger(href="#") OK


    #have-circkle.container(style="display:none")
      .row
        %h2.span12 
          Sekrit Cirkle: 
          %q.friendly-name
      .row
        .span12
          :markdown
            Make sure you bookmark this web page (in a trusted
            browser) so you can come back to this cirkle to create
            or read sekrits.
      .row
        .tabbable.tabs-left.span12
          %ul.nav.nav-tabs
            %li.active
              %a(href="#create-sekrit" data-toggle="tab") Create a Sekrit
            %li
              %a(href="#read-sekrit" data-toggle="tab") Read a Sekrit
          .tab-content
            %form#create-sekrit.tab-pane.active
              %fieldset
                %i.icon-pencil
                %textarea#msg-in.input-block-level(placeholder="Type your message ...")
                #secret-out-wrapper(style="display:none")
                  %label
                    %i.icon-lock
                    Copy this sekrit to send to someone
                  %textarea#sekrit-out.input-block-level(readonly)
                  :markdown

                    <i class="icon-share"></i>The person you are
                    sending to needs to know this web page address
                    in order to read the sekrit.  Send them the
                    following link seperately from the above sekrit.

                  %textarea#cirkle-link.input-block-level(readonly)

            %form#read-sekrit.tab-pane
              %fieldset
                %i.icon-lock
                %textarea#sekrit-in.input-block-level(placeholder="Paste a sekrit ...")
                #msg-out-wrapper(style="display:none")
                  %i.icon-eye-open
                  #msg-out.alert.alert-success

    .navbar.navbar-fixed-bottom
      .navbar-inner
        %ul.nav
          %li
            %a(href="http://doc.supersekrit.com/#terms") Terms of Service
          %li
            %a(href="http://doc.supersekrit.com/#privacy") Privacy Policy
          %li
            %a(href="http://doc.supersekrit.com/#security") Security
          %li
            %a(href="http://doc.supersekrit.com/#colophon") Colophon

    %script(src="jquery-1.9.1.min.js")
    %script(src="bootstrap/js/bootstrap.min.js")
    %script(src="sjcl.js")
    - if ARGV[-1].match /debug/
      %script(src="jquery.haml-1.3.js")
      %script(src="sekritweb.js")
    - else
      %script(src="combined.js")
