!!! 5
%html
  %head
    %title Super Sekrit
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen")
    %link(href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet")
  %body

 
    %header.jumbotron.subhead
      .container
        %h1 Super Sekrit
        %p.lead Send secret messages

    #no-circkle.container(style="display:none")
      .row
        .span3.hidden-phone
        %form.span6
          %fieldset
            %legend, Create new Cirkle ...
            %input#friendly(type="text" placeholder="Enter name (optional) ...")
            %button#create.btn(type="submit") Create

    #bad-circkle.container(style="display:none")
      .row
        %h2.span12 Bad Circle
        %p.span12
          Sorry
          %q.cirkle-name
          is not a valid cirkle. Did you copy it properly?

    #have-circkle.container(style="display:none")
      .row
        %h2.span12 
          %q.friendly-name
          Cirkle
      .row
        %form.span6
          %fieldset
            %legend Create a Sekrit
            %textarea#msg-in.span6(placeholder="Type your message ...")
            .well#sekrit-out
        %form.span6
          %fieldset
            %legend Read a Sekrit
            %textarea#sekrit-in.span6(placeholder="Paste a sekrit ...")
            .well#msg-out

    %script(src="jquery-1.9.1.min.js")
    %script(src="bootstrap/js/bootstrap.min.js")
    %script(src="sjcl.js")
    - if ARGV[-1].match /debug/
      %script(src="jquery.haml-1.3.js")
      %script(src="sekritweb.js")
    - else
      %script(src="combined.js")
